***welcome to my pandas documentation hope you will understand easily***

**why pandas**?
***pandas are generally written in a python programming langauge***
***it is used for data analysis***

In [1]:
import pandas as pd 
import numpy as np

***pandas basically has two data structure 1.DataFrame 2.Series***

In [3]:
att1=pd.DataFrame(np.random.rand(1,3))

In [4]:
att1

          0        1         2
0  0.548569  0.27585  0.181045

In [6]:
att2=pd.Series(np.random.rand())

In [7]:
att2

0    0.090065
dtype: float64

***lets do it manually**

In [9]:
dict1={
    "name":["ayush","punam"],
    "rollno":[1,2],
    "profession":["s/w engineer","CA"]
    
}

In [10]:
att3=pd.DataFrame(dict1)

In [11]:
att3

    name  rollno    profession
0  ayush       1  s/w engineer
1  punam       2            CA

In [13]:
att4=pd.Series(dict1)

In [14]:
att4

name              [ayush, punam]
rollno                    [1, 2]
profession    [s/w engineer, CA]
dtype: object

***importing a csv file ***

In [ ]:
housing=